body {
    margin: 0;
    font-family: "楷体", "楷体_GB2312";
}

ul,
ol {
    list-style: none;
    padding: 0;
}


/* logo 模块*/

.logo {
    text-align: center;
    font-family: "楷体", "楷体_GB2312";
}

.logo>.img>img {
    display: inline-block;
    width: 72px;
    height: 72px;
    /*background-image: url(https: //avatars3.githubusercontent.com/u/20449872?v=3&s=88);*/
    border-radius: 0px;
    margin-top: 60px;
}

.logo>.slogan {
    margin-top: 28px;
    font-family: "楷体", "楷体_GB2312";
}

.logo>.slogan>li {
    background: #d8d8d8;
    display: inline-block;
    border-radius: 20px;
    min-width: 128px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 24px;
    line-height: 24px;
    font-family: "楷体", "楷体_GB2312";
}


/* banner 模块*/

.banner {
   
    padding-top: 0px;
}

.banner .details {
    padding-top: 0px;
    padding-bottom: 10px;
    min-width: 240px;
}

.banner .details p {
    background: #E8E7E7;
    /*max-width: 250px;*/
    margin-left: 0;
    /* margin-right: auto;*/
    line-height: 24px;
    border-radius: 14px;
    margin-top: 20px;
    font-family: "楷体", "楷体_GB2312";
}


/* products 模块*/

.products {
    
margin-bottom:50px;
}

.products>ol {
    max-height: 300px;
    margin-top: 42px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.products .product {
    margin-top:40px;
    
   margin-bottom:20px;
}

.products .product>.img>img {
    background: #d8d8d8;
    border-radius: 4px;
    min-width: 360px;
    height: 240px;
    /*图片不需要写高度，它会自己算*/
}

.products .product>h3 {
    max-width: 204px;
    background: #bcbcbc;
    border-radius: 4px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 14px;
    font-family: "楷体", "楷体_GB2312";
}

.products .product>p {
    font-family: "楷体", "楷体_GB2312";
    background: #ececec;
    border-radius: 4px;
    line-height: 16px;
    font-size: 14px;
    margin-top: 14px;
    max-width: 360px;
}
